header {
  height: 100px;
  width: 100%;
  background-color: #AB2A19;
  display: flex;
  justify-content: flex-start;
  color: white;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 75px;
}

.brand-title{
  margin-left: 30px;
}

.body{
  height: 100%;
  display:flex;
  justify-content: center;
}

.listed-products {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.no-pic{
  height: 195px ;
  width: 320px;
  margin: 0 auto;
}

input {
  height: 24px;
  width:420px;
}

 button .button{
   width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}

.cancel-button{
  height: 50px;
  width: 75px;
  margin-right: 200px;
  background: #ED6B5A;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
  
}

.add-button {
  height: 50px;
  width: 125px;
  background: #ED6B5A;
  border-radius: 10px;
  border: 0px;
}

.add-products {
  height: 520px;
  width: 450px;
  background: #3AD886;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 100px;
  padding: 20px;
}

.inventory-pic{
  height: 200px;
  width: 320px;
  
  
}

.inventory-list{
  height: 230px;
  width: 600px;
  background: #D34735;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 100px;
  border-radius: 7px;
  padding: 20px;
  

}

.product-name {
  float:right;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  
}

.product-price {
  position: relative;
}

.edit-delete{
  height:100%;
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 75px;
}


.edit {
  height: 50px;
  width: 100px;
  margin-right: 50px;
  border-radius: 5px;
  background-color: #3AD886 ;
  border: 0px;

}

.delete {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
  background-color: #3AD886 ;
  border: 0px;
} 
